
/* ============------------------- 12. Template full width  ---------------=============*/
.page-template-page-templatesfullwidth-template-php h3{text-align:left;padding-bottom:6px;border-bottom:0;margin-top:-8px;}
.page-template-page-templatesfullwidth-template-php p{font-size:12px;line-height:14px;display:inline-block;margin:4px 0;}

